{{>layout/header}}
    <h1>Welcome Spring World</h1>
    <div class="col-md-12">
        <div class="row">
           <div class="col-md-6">
               <a href="/posts/save" role="button" class="btn btn-primary">Enroll Posts</a>
           </div>
        </div>
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>Post number</th>
                <th>Title</th>
                <th>Author</th>
                <th>Last modified date</th>
            </tr>
            </thead>
            <tbody id="tbody">
<!--            posts 라는 리스트를 순회함-->
            {{#posts}}
                <tr>
<!--                    리스트에 뽑아낸 객체의 필드를 사용용-->
                    <td>{{id}}</td>
                    <td><a href="/posts/update/{{id}}">{{title}}</a></td>
                    <td>{{author}}</td>
                    <td>{{modifiedDate}}</td>
                </tr>
            {{/posts}}
            </tbody>
        </table>
    </div>
{{>layout/footer}}